<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta>
        <title> Organizar chaves - Index</title>
    </head>
    <body>
        <h1> Index </h1>
        
        <h2> Chaves </h2>
        

        <h3><a href="chaves"> Visualizar chaves cadastradas</a></h3>

        <h3><a href="inserechave"> Inserir nova chave</a></h3>

        <h2> Servidores </h2>
        {% for servidor in servidores %}
            <p>{{ servidor }} </a> </p>
        {% endfor %}
        <table>
            <thead>
                <tr>
                    <th>Chave</th>
                    <th>Servidor Emprestimo</th>
                    <th>Data de emprestimo</th>
                    <th>Servidor Devolução</th>
                    <th>Data de devolução</th>
                </tr>
            </thead>
            <tbody>
            {% for emprestimo in emprestimos %}
                <tr>
                    <td>{{ emprestimo.chaveEmprestada }}</td>
                    <td> <a href="{% url 'servidorPorId' emprestimo.servidorEmprestimo.id %}">
                        {{emprestimo.servidorEmprestimo }}</a></td>
                    <td>{{ emprestimo.dataHoraEmprestimo }}</td>
                    {% if emprestimo.servidorDevolucao.id %}
                        <td><a href="{% url 'servidorPorId' emprestimo.servidorDevolucao.id %}">
                            {{ emprestimo.servidorDevolucao }}</a></td>
                        {% else %}
                            <td>  não devolvido </td>
                    {% endif %}
                    <td>{{ emprestimo.dataHoraDevolucao }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
