<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta>
        <title>Nova chave</title>
    </head>
    <body style="display: flex; align-items: center; flex-direction: column;">
        <h1>Cadastrar nova chave</h1>
        <br>
        <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; width: 16.8%;">

            {% csrf_token %}

            {{ form.as_p}}

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
