<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servidor</title>
</head>
<body>
    <h1>Servidor</h1>
    <table>
        <thead>
            <tr>
                <th> Nome </th>
                <th> Contato </th>
                <th> CPF </th>
                <th> Nascimento</th>
            </tr>
        </thead>
        <tbody>
            <td>{{servidor.nome}}</td>
            <td>{{servidor.contato}}</td>
            <td>{{servidor.cpf}}</td>
            <td>{{servidor.nascimento}}</td>
        </tbody>


    </table>
</body>
</html>